.movie .poster .dropdown {
     position: absolute;
     top: 3%;
     right: 6%;
     height: 20px;
     width: 20px;
     border-radius: 100%;
     cursor: pointer;
     background: rgba(255, 255, 255, 0.5);
     color: #353535;
     line-height: 20px;
     z-index: 1;
}
.movie .poster .dropdown:hover {
     color: #ffffff;
     background: #01b4e4;
}
.movie .poster .dropdown li p {
     color: #6c757d;
     font-size: 0.9rem;
}
.movie .poster .dropdown li p i {
     width: 15px;
     text-align: center;
}
.movie .poster .dropdown li p:active {
     color: #1e2125;
     background: #e9ecef;
}
.movie .poster i {
     font-size: 0.9rem;
}
.movie .image-container {
     overflow: hidden;
     cursor: pointer;
     height: 210px;
     width: calc(210px * 2 / 3);
     border-radius: 15px;
     position: relative;
}
.movie span {
     font-size: 0.85rem;
     display: block;
}
.movie p {
     color: #353535;
     cursor: pointer;
     display: inline-block;
}
.movie p:hover {
     color: #6c757d;
}
@media (max-width: 576px) {
     .movie .image-container {
          height: 200px;
          width: calc(200px * 2 / 3);
     }
}
@media (min-width: 1200px) {
     .movie .image-container {
          height: 230px;
          width: calc(230px * 2 / 3);
     }
}